<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/usermanual">User Manual</a></li>
        		<li><a href="/techbackground">Technical Background</a></li>
        		<li><a href="/acknowledgments">Acknowledgements</a></li>
    		</ul>
		</nav>
		<div class="container">
		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:cbev@uw.edu">email</a></li>
        		<li><a href="https://github.com/cbev">github.com/cbev</a></li>
			</ul>
		</footer>
	</body>
</html>
